<div class="build-details">
  <header class="detail-header">
    <h3>
      <span class="value">{{ build.playerName || 'Build sem nome' }}</span>
    </h3>
  </header>

  <div *ngIf="build.imageUrl" class="build-image">
    <img [src]="build.imageUrl" alt="Atributos finais do jogador">
  </div>

  <section class="build-stats">
    <div *ngIf="build.shooting > 0"><span class="stat-label">Chute:</span> <span class="stat-value">{{ build.shooting }}</span></div>
    <div *ngIf="build.passing > 0"><span class="stat-label">Passe:</span> <span class="stat-value">{{ build.passing }}</span></div>
    <div *ngIf="build.dribbling > 0"><span class="stat-label">Drible:</span> <span class="stat-value">{{ build.dribbling }}</span></div>
    <div *ngIf="build.dexterity > 0"><span class="stat-label">Destreza:</span> <span class="stat-value">{{ build.dexterity }}</span></div>
    <div *ngIf="build.lowerBodyStrength > 0"><span class="stat-label">Força nas Pernas:</span> <span class="stat-value">{{ build.lowerBodyStrength }}</span></div>
    <div *ngIf="build.aerialStrength > 0"><span class="stat-label">Força Aérea:</span> <span class="stat-value">{{ build.aerialStrength }}</span></div>
    <div *ngIf="build.defending > 0"><span class="stat-label">Defesa:</span> <span class="stat-value">{{ build.defending }}</span></div>
    <div *ngIf="build.gk1 > 0"><span class="stat-label">GO1:</span> <span class="stat-value">{{ build.gk1 }}</span></div>
    <div *ngIf="build.gk2 > 0"><span class="stat-label">GO2:</span> <span class="stat-value">{{ build.gk2 }}</span></div>
    <div *ngIf="build.gk3 > 0"><span class="stat-label">GO3:</span> <span class="stat-value">{{ build.gk3 }}</span></div>
  </section>

  <section *ngIf="build.trainingDetails" class="training-notes">
    <h4>Detalhes do Treino</h4>
    <p>{{ build.trainingDetails }}</p>
  </section>
</div>
